# Notebook 3: SQL und Explorative Analyse

## Aufgabe 1: Deskriptive Statistik und Visualisierung (1 Punkt)

Wir unterscheiden zwei Ansätze bei der Analyse eines neuen Datensatzes: deskriptive Statistik und Visualisierung. In dieser Aufgabe wollen wir zeigen, dass oft eine Methode allein nicht ausreicht, um ein Gefühl für die vorliegenden Daten zu bekommen. Wir beginnen damit zwei neue Datensätze zu laden.

In [ ]:
# Daten laden
import pandas as pd

df1 = pd.read_csv('./datasets/data1.csv')
df2 = pd.read_csv('./datasets/data2.csv')

In [ ]:
display(df1.head())
display(df2.head())

### 1.1 Deskriptive Statistik (0.5 Punkte)
Führe eine statistische Analyse der oben geladenen Datensätze durch. Berechne dazu für `x` und `y` beider Datensätze folgende stastische Werte und gebe sie aus:
- Mittelwert
- Standardabweichung
- Korrelationskoeffizient nach Pearson

In [ ]:
'''
TODO: implement
'''

Gib anhand der jeweiligen Werte eine kleine Einschätzung zur Ähnlichkeit der beiden Datensätze ab. (ein Satz)

$$ # TODO $$

In [ ]:
# 0.5 Punkte

### 1.2 Visualisierung (0.5 Punkte)
Nun testen wir, ob unsere vorherige Einschätzung richtig war. Dazu wollen wir die Daten zunächst mithilfe von Box-Whisker Plots visualisieren. Dabei sollen jeweils die `x`- und `y`-Werte der Datensätze verglichen werden. Implementiere hierfür die Funktion `plot_boxplot`, die zwei DataFrames sowie den entsprechenden Spaltennamen als String bekommt und dann einen Boxplot mithilfe von `matplotlib` erstellt und anzeigt. Der Boxplot soll zusätzlich den Mittelwert anzeigen.

In [ ]:
import matplotlib.pyplot as plt

def plot_boxplot(df1, df2, attr):
    """
    Creates a boxplot for the provided attribute of each dataframe.
    
    :param: df1: The first dataframe
    :param: df2: The second dataframe
    :param: attr: The name of the attribute to be plotted 
    """
    pass

Nach Betrachtung der oben erstellten Plots, ändert sich deine Einschätzung? (ein bis zwei Sätze)

$$ # TODO $$

In [ ]:
# 0.25 Punkte
# Grading Test:
plot_boxplot(df1, df2, 'x')
plot_boxplot(df1, df2, 'y')

In dieser Teilaufgabe möchten wir uns eine andere Art der Visualisierung zunutze machen. Erstelle mithilfe von `matplotlib` Streudiagramme (scatter plots) für beide Datensätze.

In [ ]:
'''
TODO: implement
'''

Wie lautet nun deine Einschätzung zur Ähnlichkeit der Daten? (ein Satz)

$$ # TODO $$

In [ ]:
# 0.25 Punkte

## Aufgabe 2: Mozzarella and Doctoral Degrees (2 Punkt)

In dieser Aufgabe beschäftigen wir uns mit einem echten Datensatz. Der Datensaty stammt aus einer neuen amerikanischne Studie, die zeigt, dass eine sehr starke Korrelation zwischen dem pro Kopf Konsum von Mozzarella (in Pfund) und der Anzahl an Promotionen im Bauingenieurwesen besteht. Im Folgenden möchten wir überprüfen, ob diese Behauptung stimmt. Zunächst laden wir die Daten.

In [ ]:
# Daten laden
import pandas as pd
df = pd.read_csv('./datasets/mozzarella_doctorates.csv')
df

Berechne nun den Korrelationskoeffizienten nach Pearson zwischen `Mozzarella` und `Doctorates` und speichere das Ergebnis in der Variablen `corr` ab.

In [ ]:
'''
TODO: implement
'''
corr = None

In [ ]:
# 0.25 Punkte
# Grading Test:
display(corr)

Als nächstes möchten wir die Daten visualisieren. Erstelle mithilfe von `matplotlib` **ein** Liniendiagramm mit zwei Kurven. Auf der x-Achse soll das Jahr abgetragen werden. Auf der y-Achse soll sowohl der pro Kopf Konsum von Mozzarella in Pfund (erste Kurve) als auch die Anzahl an Promotionen im Bauinenieurwesen (zweite Kurve) abgetragen werden. Achte beim Plot auf aussagekräftige Achsenbeschriftungen. (*Tipp*: Ein Beispiel für einen Plot mit zwei Kurven, die unterschiede Skalen verwenden, findet ihr [hier](https://matplotlib.org/examples/api/two_scales.html).)

In [ ]:
'''
TODO: implement
'''

In [ ]:
# 0.75 Punkte

Sollten Amerikaner mehr Mozzarella essen, damit es mehr promovierte Bauingenieure gibt? Belegen die statistischen und visuellen Ergebnisse die ursprüngliche Aussage? Vertraust du diesen Ergebnissen? Begründe deine Antwort. (ein bis zwei Sätze)

$$ # TODO $$'

In [ ]:
# 1.0 Punkte

## Aufgabe 3: Non-Linear Correlations (2 Punkte)

In dieser Aufgabe schauen wir uns vier verschiedene Datensätze an, die alle aus 500 Datenpunkten bestehen und jeweils zwei Spalten `x` und `y` haben.

In [ ]:
# Daten laden
import pandas as pd
df1 = pd.read_csv('./datasets/data3.csv')
df2 = pd.read_csv('./datasets/data4.csv')
df3 = pd.read_csv('./datasets/data5.csv')
df4 = pd.read_csv('./datasets/data6.csv')
df5 = pd.read_csv('./datasets/data7.csv')

Berechne zunächst den Korrelationskoeffizienten nach Pearson für die jeweiligen Datensätze und speichere deine Ergebnisse in den entsprechenden Variablen.

In [ ]:
'''
TODO: implement
'''
p_corr1 = None
p_corr2 = None
p_corr3 = None
p_corr4 = None
p_corr5 = None

In [ ]:
# 0.25 Punkte
# Grading Test:
print('Der Korrelationskoeffizient nach Pearson für Datensatz 1 beträgt:', p_corr1)
print('Der Korrelationskoeffizient nach Pearson für Datensatz 2 beträgt:', p_corr2)
print('Der Korrelationskoeffizient nach Pearson für Datensatz 3 beträgt:', p_corr3)
print('Der Korrelationskoeffizient nach Pearson für Datensatz 4 beträgt:', p_corr4)
print('Der Korrelationskoeffizient nach Pearson für Datensatz 4 beträgt:', p_corr5)

Als nächstes möchten wir die jeweiligen Daten mithilfe von `matplotlib` in Streudiagrammen (scatter plots) visualisieren. Benutze diesmal [subplots](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.subplots.html), um die Grafiken nebeneinander darzustellen (*Tipp*: Man kann die Größe einer Figure mit dem optionalen Parameter `figsize` anpassen).

In [ ]:
'''
TODO: implement
'''

In [ ]:
# 0.25 Punkte

Leite nun mithilfe der Visualisierungen eine approximative Formel für die jeweiligen Datensätze her (zum Beispiel: $Y = 4X + 3$).

Approximative Formeln:
- Datensatz 1: $'''TODO: answer'''$
- Datensatz 2: $'''TODO: answer'''$
- Datensatz 3: $'''TODO: answer'''$
- Datensatz 4: $'''TODO: answer'''$
- Datensatz 5: $'''TODO: answer'''$

In [ ]:
# 0.75 Punkte

Erkläre, weshalb der Korrelationskoeffizient für Datensatz 3 kleiner ist als der für Datensatz 1 und 2.

$$ # TODO $$

In [ ]:
# 0.25 Punkte

Warum fällt der Korrelationskoeffizient für Datensatz 4 und 5 jeweils so niedrig aus?

$$ # TODO $$

In [ ]:
# 0.25 Punkte

Erkläre, welche Beziehung ein Maß zur Berechnung der Korrelation für Datensatz 4 erkennen müsste. Warum findet die Korrelation nach Pearson diese nicht?

$$ # TODO $$

In [ ]:
# 0.25 Punkte

## Aufgabe 4: Mutual-Information (3 Punkte)

In dieser Aufgabe beschäftigen wir uns mit dem Mutual Information Score. Berechne diesen für die vier Datensätze `df1`, `df2`, `df3`, `df4` und `df5` aus Aufgabe 3. Definiere hierfür zwei Funktionen `shannon_entropy` und `mutual_information`.
Die Funktion `shannon_entropy` bekommt ein n-dimensionales `numpy` Array, berechnet die Entropy und gibt diese zurück.
Die Funktion `mutual_information` bekommt zwei Arrays `x` und `y`, sowie einen Integer `bins`. `mutual_information` diskretisiert zunächst beide Variablen `x` und `y`, bildet dann die Kontingenztabelle für beide Variablen und berechnet anschließend mithilfe der Funktion `shannon_entropy` den Mutual Information Score und gibt diesen zurück.

In [ ]:
def shannon_entropy(np_array):
    """
    Compute the shannon entropy for an n-dimensional numpy array.
    
    :param: np_array: n-dimensional numpy array
    
    :return: the shannon entropy
    """
    pass

def mutual_information(x, y, bins):
    """
    Compute the mutual information score between x and y.
    
    :param: x: first variable for which the mutual information score will be computed
    :param: y: second variable for which the mutual information score will be computed
    :param: bins: the number of bins to use to discretize the variables
    
    :return: the mutual information score
    """
    pass

In [ ]:
# 1.5 Punkte (1.0 Punkte für mutual_information und 0.5 Punkte für shannon_entropy)
# Grading Test:
import numpy as np
bins = 4
print('Mutual Information für Datensatz 1:', mutual_information(df1['x'], df1['y'], bins))
print('Mutual Information für Datensatz 2:', mutual_information(df2['x'], df2['y'], bins))
print('Mutual Information für Datensatz 3:', mutual_information(df3['x'], df3['y'], bins))
print('Mutual Information für Datensatz 4:', mutual_information(df4['x'], df4['y'], bins))
print('Mutual Information für Datensatz 5:', mutual_information(df5['x'], df5['y'], bins))

Vergleiche die Mutual Information Scores mit den Korrelationskoeffizienten nach Pearson, die wir für die jeweiligen Datensätze in Aufgabe 3 berechnet haben. Drücken die Mutual Information Scores deinen anfänglichen Eindruck bezüglich der Korrelation der Daten besser aus als die Korrelationskoeffizienten? Begründe deine Antwort.

$$ # TODO $$

In [ ]:
# 0.25 Punkte

In der ersten Teilaufgabe, haben wir uns für einen "binning" Wert von 4 entschieden. Dieser führt zu einer grobgranularen Aufteilung der Daten. Im Folgenden haben wir erneut die Mutual Information Scores berechnet, diesmal jedoch feingranularer.

In [ ]:
bins = 100
print('Mutual Information für Datensatz 1:', mutual_information(df1['x'], df1['y'], bins))
print('Mutual Information für Datensatz 2:', mutual_information(df2['x'], df2['y'], bins))
print('Mutual Information für Datensatz 3:', mutual_information(df3['x'], df3['y'], bins))
print('Mutual Information für Datensatz 4:', mutual_information(df4['x'], df4['y'], bins))
print('Mutual Information für Datensatz 5:', mutual_information(df5['x'], df5['y'], bins))

Vergleiche die neuen Mutual Information Scores mit den oben berechneten Werten. Interpretiere und erkläre die Werte.

$$ # TODO $$

In [ ]:
# 1.25 Punkte

## Aufgabe 5: SQL Grundlagen (2 + 1 Punkte)

In dieser Aufgabe sollt ihr SQL-Statements angeben. Hierfür verwenden wir Sqlite3, das bereits mit Python installiert wurde. Beachte, dass Sqlite nicht den vollen SQL-Standard beherrscht, für unsere Anwendung hier aber ausreicht. Solltet ihr dennoch eine Operation ausführen, die nicht unterstützt wird, so könnt ihr diese umschreiben.

Zunächst laden wir die nötigen Paket, stellen eine Verbindung zur Datenbank her und definieren eine Funktion, die Anfragen aud der Datenbank ausführt und die Rückgabe als `DataFram` ausgibt.

In [ ]:
from IPython.display import HTML  # required to display HTML directly in the jupyter notebook
import sqlite3
import pandas as pd

# establish connection to the db
con = sqlite3.connect('photo.db')

# execute query on db and display result
def query(sql):
    with con:
        df = pd.read_sql_query(sql, con)  # executes query and puts result into df
        display(HTML(df.to_html(index=False)))  # displays df without index

Gib für die folgenden umgangsprachlichen Anfragen SQL-Statements an, um diese auf der Datenbank auszuführen. Ersetze hierfür jeweils die vordefinierte Dummy Anfrage. Achte darauf, dass du die Anfrage mit einem Semikolon ( ; ) terminierst.

*Tipp:* Es ist möglich, SQL-Anfragen zu verschachteln:

```sql
SELECT *
FROM (SELECT *
      FROM irgendeineTabelle) AS irgendwas
WHERE irgendeineBedingung = 'gilt';
```

* Mitarbeiter-ID als 'FotographID' und Gehalt aller Fotographen, die mit Vornamen nicht 'Peter' heißen.

In [ ]:
query(
'''
SELECT 42 AS 'TODO: answer';
'''
)

In [ ]:
# 0.25 Punkte

* Die unterschiedlichen, alphabetisch sortierten Branchen aller Kunden, die vor dem Jahr 1980 geboren wurden und schon einmal etwas gekauft haben.

In [ ]:
query(
'''
SELECT 42 AS 'TODO: answer';
'''
)

In [ ]:
# 0.25 Punkte

* Die ID als 'FotoID' und den in 'Verkaufspreis' umbenannten und um 100 Euro reduzierten Preis aller (möglcherweise mehrfach) verkauften Fotos, die (mit Reduzierung) weniger als 900 Euro gekostet haben und mit einer Kamera der Marke 'Canon' aufgenommen wurden. Das Ergebnis soll absteigend nach dem Verkaufspreis sortiert sein.

In [ ]:
query(
'''
SELECT 42 AS 'TODO: answer';
'''
)

In [ ]:
# 0.5 Punkte

* Die IDs als 'MitarbeiterID' und die Vornamen der Mitarbeiter, die jeweils mindestens 50.000 Euro als Gehalt verdienen, sortiert nach Vorname. Jeder Eintrag im Ergebnis soll zusätzlich das Wort 'Vielverdiener' in einer eigenen Spalte namens 'Status' angehängt bekommen.

In [ ]:
query(
'''
SELECT 42 AS 'TODO: answer';
'''
)

In [ ]:
# 0.5 Punkte

* ID, Name und Vorname der Seniors, die Fotographen managen, die Anzahl der Fotographen, die sie managen als 'AnzahlManagt' sowie das Alter des ältesten Fotographen, der von ihnen gemanagt wird zum Zeitpunkt eurer Abgabe ('2018-05-03') als 'ÄltesterFotograph'.

In [ ]:
query(
'''
SELECT 42 AS 'TODO: answer';
'''
)

In [ ]:
# 0.5 Punkte

* **Bonus**: Zu jedem Mitarbeiter die ID als 'MitarbeiterID', der Vor- und Nachname sowie das Spezialgebiet und die Anzahl der grauen Haare (falls vorhanden). Außerdem soll in drei weiteren Spalten namens 'istSenior', 'istFotograph' und 'istVerkaeufer' jeweils 1 ausgegeben werden wenn das entsprechende zutrifft. Im Ergebnis sollen nur Mitarbeiter mit Erfahrungsstufe 'Profi' oder 'Fortgeschrittener' vorkommen. Das Ergebnis soll aufsteigend nach Geburtsdatum sortiert sein.

In [ ]:
query(
'''
SELECT 42 AS 'TODO: answer';
'''
)

In [ ]:
# 1.0 Punkte

## Abgabe

Das Jupyter Notebook ist über das CMS bis zum dort angegebenen Abgabezeitpunkt (Donnerstag Morgen 10 Uhr) hochzuladen. Setzt vor dem Hochladen alle Outputs über `Kernel -> Restart & Clear Outputs` zurück. Ladet eine einzelne `.ipynb` Datei hoch, insbesondere sollen Datensätze nicht mit abgegeben werden. Tragt nachfolgend alle Teammitglieder mit Matrikelnummer ein.

Team:
- **hier Team eintragen:** Vorname Nachname (Matrikelnummer)
- **hier Team eintragen:** Vorname Nachname (Matrikelnummer)
- **hier Team eintragen:** Vorname Nachname (Matrikelnummer)